<html>
  <head>
    <title>Mustache Engage!</title>
  </head>
  <body>
    <center>
      <h1>Mustache Powers <a href="/">Activate</a>!</h1>
      <br/>
      <a href="/"><img width="600px" src="/image.png?id={{.ImageID}}"/></a>
    </center>
  </body>
</html>
